<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
     <!-- Navbar -->
 <div class="navbar">
    <div class="container flex">
        <h1 class="logo">Mental Health</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="quiz">Quiz</a></li>
                <li><a href="tip">Tips</a></li>
            </ul>
        </nav>
    </div>
</div>
    {% block body %} {% endblock %}  
</body>