{% extends 'base.html' %}

{% block head %} 
<h1>Test 2</h1>
{% endblock %}

{% block body %} 

<!-- Showcase -->
<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Student Work-life Balance</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Qui sequi perspiciatis esse rem nostrum consequuntur soluta. 
                Repellendus blanditiis fugiat perferendis excepturi eos asperiores, 
                iure aliquid repellat, harum ad ut molestiae tempora ratione eveniet 
                facere architecto ipsa ipsam eligendi quae ducimus!</p>
            <a href="about.html" class="btn btn-outline">Read More</a>
        </div>
        <div class="showcase-picture">
            <img src="/static/relax.gif" alt="relax">
        </div>
    </div>
</section>

<!-- About US -->
{% endblock %}
