{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body%}

 <!-- Showcase -->
 <section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <img class="showcase-text img" src="/static/user.png">
            <h1>Fatima Smith's Profile</h1>
            <p>Computer Science Student &#x1F469;&#x200D;&#x1F4BB; and Amateur Tennis Player &#x1F3BE;</p>
            <p>I love long walks on the beach &#x1F3D6;&#xFE0F; and playing with my 2 dogs! &#x1F436;</p>
        </div>

        <div class="showcase-form profile">
            <h2>&#x1F9D8; My Profile Statistics</h2>
                <p>Hours Meditated This Week: 5</p>
                <p>Hours Meditated Today: 1</p>
                <p>Total Meditation Sessions: 63</p>
                <p>Total Meditation Hours: 45</p>
        </div>
    </div>
</section>

{% endblock %}
