{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body%}

 <!-- Showcase -->
 <section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <img class="showcase-text img" src="/static/user.png">
            <h1>My Profile</h1>
            <p>Profile Biography</p>
        </div>

        <div class="showcase-form profile">
            <h2>My Profile Statistics</h2>
                <p>Hours Meditated This Week: 5</p>
                <p>Hours Meditated Today: 1</p>
                <p>Total Meditation Sessions: 63</p>
                <p>Total Meditation Hours: 45</p>
        </div>
    </div>
</section>

{% endblock %}
