{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body%}

<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Mental Health Resources</h1>
            <h3>Virtual Peer Support</h3>
                <ul>
                    <li>CMHA</li>
                    <li>Big White Wall</li>
                </ul>
            </p>
            <h3>Practical Tools and Daily Practices</h3>
                <ul>
                    <li>The Greater Good Science Centre</li>
                    <li>YMCA</li>
                    <li>Workplace Strategies for Mental Health</li>
                </ul>
            </p>
        </div>
        <div class="showcase-picture">
            <img src="/static/girl.gif" alt="relax">
        </div>
    </div>
</section>

{% endblock %}