{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body%}

<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Mental Health Resources</h1>
            
            <h3>Work-Life Balance</h3>
            <ul>
                <li><a href="https://ggsc.berkeley.edu/what_we_do/online_courses_tools">The Greater Good Science Centre</a></li>
                <li><a href="https://www.ymca.net/chli-tools">YMCA</a></li>
                <li><a href="https://www.workplacestrategiesformentalhealth.com">Workplace Strategies for Mental Health</a></li>
            </ul>
            </p>

            <h3>Virtual Peer Support</h3>
            <ul>
                <li><a href="https://cmhawwselfhelp.ca/events/">CMHA</a></li>
                <li><a href="https://togetherall.com/en-ca/?from=bwwca%2Fv2%2FHome.aspx">Togetherall</a></li>
            </ul>
            </p>
    
            <h3>Practical Tools and Daily Practices</h3>
            <ul>
                <li><a href="https://ggsc.berkeley.edu/what_we_do/online_courses_tools">The Greater Good Science Centre</a></li>
                <li><a href="https://www.ymca.net/chli-tools">YMCA</a></li>
                <li><a href="https://www.workplacestrategiesformentalhealth.com">Workplace Strategies for Mental Health</a></li>
            </ul>
            </p>

            <h3>Tips & suggestions</h3>
            <ul>
                <li><a href="https://www.themuse.com/advice/37-tips-for-a-better-worklife-balance">37 Tips for a Better Work-Life Balance</a></li>
                <li><a href="https://www.forbes.com/sites/deborahlee/2014/10/20/6-tips-for-better-work-life-balance/?sh=1fd6e7a129ff">6 Tips For Better Work-Life Balance</a></li>
                <li><a href="https://www.lifehack.org/734028/work-life-balance-tips">13 Work Life Balance Tips for a Happy and Productive Life
                </a></li>
            </ul>
            </p>
        </div>
        <div class="showcase-picture">
            <img src="/static/girl.gif" alt="relax">
        </div>
    </div>
</section>

{% endblock %}
