{% extends "base.html" %}

{% block head %} {% endblock %}

{% block body%}

<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Mental Health Resources</h1>

            <h3>Work-Life Balance</h3>
            <ul>
                <li><a href="https://ggsc.berkeley.edu/what_we_do/online_courses_tools">The Greater Good Science Centre</a></li>
                <li><a href="https://www.ymca.net/chli-tools">YMCA</a></li>
                <li><a href="https://www.workplacestrategiesformentalhealth.com">Workplace Strategies for Mental Health</a></li>
            </ul>
            </p>


            <h3>Virtual Peer Support</h3>
            <ul>
                <li><a href="https://cmhawwselfhelp.ca/events/">CMHA</a></li>
                <li><a href="https://togetherall.com/en-ca/?from=bwwca%2Fv2%2FHome.aspx">Togetherall</a></li>
            </ul>
            </p>
            <h3>Practical Tools and Daily Practices</h3>
            <ul>
                <li><a href="https://ggsc.berkeley.edu/what_we_do/online_courses_tools">The Greater Good Science Centre</a></li>
                <li><a href="https://www.ymca.net/chli-tools">YMCA</a></li>
                <li><a href="https://www.workplacestrategiesformentalhealth.com">Workplace Strategies for Mental Health</a></li>
            </ul>
            </p>
        </div>
        <div class="showcase-picture">
            <img src="/static/girl.gif" alt="relax">
        </div>
    </div>
</section>

{% endblock %}